.animal-overview {
  display: flex;

  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.animal {
  display: flex;

  list-style: none;
  margin: 0 20px;
  padding: 0;

  .animal-name {
    font-size: 1rem;
    font-weight: 100;
    margin: 0;
    padding: 0;
    cursor: pointer;

    &.is-selected {
      font-weight: 400;
    }
  }

  .image {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
  }
}
